<Navbar />
<div class="container">
    <div class="page-header">
        <LinkTo @route="addPatient" type="button" class="btn btn-primary">Add Patient</LinkTo>
    </div>
    <PatientList />
    {{outlet}}
</div>